@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Messege"]</h3>

<p>Aluno(a): @ViewData["Aluno"] </p>
<address>
    <strong> Para mais informações: </strong><a href="https://github.com/Jennifer-Maia">github.com/</a>
</address>

